<h3>说明</h3>
本网站是基于静态网页和 Git 技术开发的新式短链接站。旨在提供更加快速、有效、开源的短链接服务。
<br>
传统短链对服务器开销大，不直观，不方便使用。而本站短链含有一定含义，且对短链网址进行筛选，防止垃圾网站。
<br>
您可以直接转到 <a href="https://gitlab.com/owci/owci">GitLab</a> 提交短链。
<br>
也可以转到主页使用短链服务。
<h3>举报</h3>
若您发现本站有滥用行为或不规范转载，请联系 support@ow.ci